.header{
    display: flex;
    width: 1360px;
    height: 110px;
    justify-content: space-evenly;
    align-items: center;
    background: #318da9;
    padding: 10px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: whitesmoke;
    border-radius: 30px;
}

.header_links{
    width: 800px;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    text-decoration: none;
    color: indigo;
}

a[class='active']{
    color: indigo;
}

.user{
    color: gold;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown_content{
    border-radius: 10px;
    display: none;
    position: absolute;
    background: #256a85;
    width : 110px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a {
    width: 150px;
    height: 30px;
    color: aliceblue;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 17px;
    display: block;
}

.dropdown_option{
    display: flex;
    align-items: center;
}

.dropdown:hover .dropdown_content {display: block;}

.dropdown_content a:hover {background: indigo;}

.dropdown_label:hover {color: indigo;}