.outer_div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    margin:0;
}

.layout_div{
    display: flex;
    height: 100%;
    width: 1980px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body{
    background-image: url("./images/background_light.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.er_title{
    font-family: "Trebuchet MS", sans-serif;
    color: darkred;
}

.pagination_div{
    display: flex;
    width: 1360px;
    height: 70px;
    font-family: "Trebuchet MS", sans-serif;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.pagination{
    display: flex;
    height: 50px;
    width: 1200px;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border: 5px solid #318da9;
    border-radius: 30px;
}

.check_div{
    display: flex;
    width: 300px;
    justify-content: flex-start;
    align-items: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    color: #205b72;
}

.check_input{
    width: 40px;
    height: 40px;
}

.select_input{
    width: 300px;
    height: 40px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    color: #205b72;
    border-radius: 30px;
    border: 3px solid #318da9;
}

.price_input{
    width: 300px;
    height: 20px;
}

.table_item{
    background-color: #e4f0ff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    width: 300px;
    height: 40px;
    padding: 5px;
    border-radius: 30px;
    color: #205b72;
}

.table_item2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left:12px ;

}

.table_labels{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    width: 970px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    padding-left: 5px;
    color: white;
}

.table_labels2{
    display: flex;
    width: 1300px;
}

.table_label_item{
    display: flex;
    background-color: #205b72;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 40px;
    padding: 5px;
    margin-right: 10px;
}

.table_label_item2{
    width: 300px;
    font-size: 15px;
}

.title1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 30px;
    color: #318da9;
}

.title2{
    display: flex;
    font-size: 30px;
    width: 1180px;
    color: white;
    padding: 10px;
}

.title3{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    color: #318da9;
}

.title4{
    font-size: 15px;
    color: white;
}

.success_title{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 30px;
    color: gold;
}